{% extends "base.html" %}

{% block title %}Inspeccion{% endblock title %}

{% block content %}
<h3>Listado de centros</h3>
{% if centros %}
	<ul>
	{% for c in centros %}
		<li><a href="{% url 'inspeccion:listacentros' %}">{{ c.nombre }}</a>
		{% if request.user.is_staff %}
		<small><a href="{% url 'inspeccion:editarcentro' c.id %}">Editar</a></small>
		<form style="display:inline" action="{% url 'inspeccion:eliminarcentro' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" value="{{ c.id }}" name="id">
			<button onclick="return confirm('Desea eliminar esta circunscripción?');" type="submit">Eliminar</button>
		</form>
		{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No existe ningun centro.</p>
{% endif %}
{% if request.user.is_staff %}
	<small><a href="{% url 'inspeccion:nuevocentro' %}">Añadir centro</a></small>
{% endif %}
{% endblock content %}