{% extends "base.html" %}

{% block title %}Nueva inspeccion{% endblock title %}

{% block content %}
<h3>Nueva inspeccion</h3>
<form id='form' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
			    {{form.as_p}}
				<p><input type='submit' value='Guardar'></p>
</form>
{% endblock content %}